    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Roboto', sans-serif;
        background-color: #e6fbf9;
        opacity: 1;
        background-image:  radial-gradient(#3ce7d4 1.05px, transparent 1.05px), radial-gradient(#3ce7d4 1.05px, #e6fbf9 1.05px);
        background-size: 42px 42px;
        background-position: 0 0,21px 21px;
        display: flex;
        min-height: 100vh;    
    }

    .form{
        background-color: #fff;
        margin: auto;
        width: 600px;
        max-width: 600px;
        padding: 4.5em 3em;
        margin-top: 150px;
        margin-left: 200px;
        margin-right: 200px;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
        text-align: center;
    }

    .form_title{
        font-size: 2rem;
        margin-bottom: .5em;
    }

    .form_container{
        margin-top: 3em;
        display: grid;
        gap: 2.5em;
    }
    .form_group{
        position: relative;
        --color: #5757577e
    }

    .form_input
    {
        width: 100%;
        background: none;
        color: #706c6c ;
        font-size: 1rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
        font-family: 'Roboto', sans-serif;

    }


    .form_label
    {
        width: 100%;
        background: none;
        text-align: left;
        color: #706c6c ;
        font-size: 1rem;    
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;

    }

    .form_submit{
        background-color: #3ce7d4;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        padding: .8em 0;
        margin-top: 20px;
        border: none;
        border-radius: .5em;
        width: 100%;
    }

    .form_line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #3ce7d4;
    }


    /* Estilo para el contenedor de cada par de checkbox y label */
    .checkbox_label {
        display: flex;
        align-items: center;
        margin-bottom: 5px; /* Espacio entre cada par de checkbox y label */
        text-align: left;
    }

    /* Estilo para los inputs de checkbox */
    .checkbox_label input {
        margin-right: 5px; /* Espacio entre el checkbox y el label */
    }

    ::placeholder {
        color: #4a605d;
    }

    .form_antec{
        width: 100%;
        background: none;
        color: #3ce7d4;
        --colorR: #3ce7d4  ;
        font-size: 1.5rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--colorR);
        font-family: 'Roboto', sans-serif;
    }

    .navbar {
        background-color: #3ce7d4;
        width: 100%;
        position: fixed;
        height: 50px;
        z-index: 1000;
    }

    .navbar a {
        float: left;
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        margin-left: 40px;
        text-decoration: none;
    }

    .navbar a:hover {
        background-color: #1c8d85;
    }



    .cerrarsesion{
        float: left;
        display: block;
        
        color: #fff;
        text-align: right;
        padding: 14px 16px;
        margin-right: 40px;
        text-decoration: none;
    }


    /* Estilos generales */
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #e6fbf9;
        background-image: radial-gradient(#3ce7d4 1.05px, transparent 1.05px), radial-gradient(#3ce7d4 1.05px, #e6fbf9 1.05px);
        background-size: 42px 42px;
        background-position: 0 0, 21px 21px;
        display: flex;
        flex-direction: column; /* Cambio a disposición vertical */
        align-items: center; /* Centrar contenido verticalmente */
    }

    .form {
        background-color: #fff;
        width: 100%; /* Ancho completo en dispositivos móviles */
        max-width: 600px;
        padding: 2em; /* Reducción del relleno */
        margin-top: 20px; /* Reducción del margen superior */
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
        text-align: center;
    }

    .form_title {
        font-size: 1.5rem; /* Reducción del tamaño del título */
        margin-bottom: 1em; /* Reducción del margen inferior */
    }

    .form_group {
        margin-bottom: 2em; /* Espacio entre grupos de campos */
    }

    .form_input {
        width: 100%;
        font-size: 1rem;
        padding: .5em;
    }

    .form_label {
        text-align: left;
        font-size: 1rem;
    }

    .form_submit {
        font-size: 1rem;
        padding: .8em 0.5em; /* Reducción del relleno */
        margin-top: 20px;
        border-radius: .5em;
        width: 100%;
    }

    /* Estilo para el contenedor de cada par de checkbox y label */
    .checkbox_label {
        margin-bottom: 1em; /* Espacio entre grupos de checkbox */
    }

    /* Estilo para los inputs de checkbox */
    .checkbox_label input {
        margin-right: 5px;
    }

    .form_antec {
        width: 100%;
        font-size: 1rem;
        padding: .5em;
    }




    /* Estilos específicos para la página */
.barramenu {
    background-color: #3ce7d4;
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 1000;
  }
  
  .barramenu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .barramenu ul li {
    margin-left: 40px;
  }
  
  .barramenu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .barramenu a:hover {
    background-color: #1c8d85;
  }
  
  .lout {
    float: left;
    display: block;
    color: #fff;
    text-align: right;
    padding: 14px 16px;
    margin-right: 40px;
    text-decoration: none;
  }
  
  .tabla {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 2em;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
  }
  
  .titulomuestralist {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  
  .col1,
  .col2,
  .col7 {
    margin-bottom: 2em;
  }
  
  .col1,
  .col2 {
    text-align: left;
    font-size: 1rem;
  }
  
  .col7 {
    font-size: 1rem;
    margin-top: 20px;
    border-radius: .5em;
    width: 100%;
  }
  

  #ttlt{
   color: #3ce7d4;
  }

  .Alta{
    background-color: #3ce7d4;
    border: black 1px solid;
    border-radius: 10px;
    height: 60px;
    width: 150px;
    margin-top: 80px;
    text-align: center;
    float: left;
    
  }
  .Alta a{
    color: #fff;
  }