    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Roboto', sans-serif;
        background-color: #e6fbf9;
        opacity: 1;
        background-image:  radial-gradient(#3ce7d4 1.05px, transparent 1.05px), radial-gradient(#3ce7d4 1.05px, #e6fbf9 1.05px);
        background-size: 42px 42px;
        background-position: 0 0,21px 21px;
        display: flex;
        min-height: 100vh;    
    }

    .form{
        background-color: #fff;
        margin: auto;
        width: 600px;
        max-width: 600px;
        padding: 4.5em 3em;
        margin-top: 150px;
        margin-left: 200px;
        margin-right: 200px;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
        text-align: center;
    }

    .form_title{
        font-size: 2rem;
        margin-bottom: .5em;
    }

    .form_container{
        margin-top: 3em;
        display: grid;
        gap: 2.5em;
    }
    .form_group{
        position: relative;
        --color: #5757577e
    }


    .form_containersShowOrto{
        width: 1000px;
    }
    

    .form_input, .form_input_cefalo
    {
        width: 100%;
        text-align: center;
        color: #706c6c ;
        font-size: 1rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
        font-family: 'Roboto', sans-serif;

    }


    .form_input_orto{
        width: 500px;
        text-align: left;
        font-size: 1rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;
    }



    .form_label_orto
    {
        width: 500px;
        background: none;
        text-align: left;
        color: #706c6c ;
        font-size: 1rem;    
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;

        
    }

    .form_table_HCOT:hover {
        background-color: #AFD4D5;
        color: white;
    }

    .tableinput{
        border-bottom: solid 1px #3ce7d4;
        text-align: center;
    }
    .form_table{
        width: 500px;
    }


    .form_label
    {
        width: 100%;
        background: none;
        text-align: left;
        color: #706c6c ;
        font-size: 1rem;    
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;

    }

    .form_submit{
        background-color: #3ce7d4;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        padding: .8em 0;
        margin-top: 20px;
        border: none;
        border-radius: .5em;
        width: 100%;
    }

    .form_line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #3ce7d4;
    }


    /* Estilo para el contenedor de cada par de checkbox y label */
    /* Estilo para el contenedor de cada par de checkbox y label */
    /* Estilo para el contenedor de cada par de checkbox y label */
    .checkbox_label {
        display: flex;
        align-items: center;
        justify-content: center; /* Alinea el texto al centro horizontalmente */
        margin-bottom: 5px;/* Alinea el texto al centro verticalmente */
    }

    /* Estilo para los inputs de checkbox */
    .checkbox_label input {
        margin-left: 0; /* Centra el checkbox horizontalmente */
    }



    ::placeholder {
        color: #4a605d;
    }

    .form_antec{
        width: 100%;
        background: none;
        color: #3ce7d4;
        --colorR: #3ce7d4  ;
        font-size: 1.5rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--colorR);
        font-family: 'Roboto', sans-serif;
    }

    .navbar {
        background-color: #3ce7d4;
        width: 100%;
        position: fixed;
        height: 50px;
        z-index: 1000;
    }

    .navbar a {
        float: left;
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        margin-left: 40px;
        text-decoration: none;
    }

    .navbar a:hover {
        background-color: #1c8d85;
    }



    .cerrarsesion{
        float: left;
        display: block;
        
        color: #fff;
        text-align: right;
        padding: 14px 16px;
        margin-right: 40px;
        text-decoration: none;
    }


    /* Estilos generales */
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #e6fbf9;
        background-image: radial-gradient(#3ce7d4 1.05px, transparent 1.05px), radial-gradient(#3ce7d4 1.05px, #e6fbf9 1.05px);
        background-size: 42px 42px;
        background-position: 0 0, 21px 21px;
        display: flex;
        flex-direction: column; /* Cambio a disposición vertical */
        align-items: center; /* Centrar contenido verticalmente */
    }

    .form {
        background-color: #fff;
        width: 100%; /* Ancho completo en dispositivos móviles */
        max-width: 600px;
        padding: 2em; /* Reducción del relleno */
        margin-top: 20px; /* Reducción del margen superior */
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
        text-align: center;
    }

    .form_title {
        font-size: 1.5rem; /* Reducción del tamaño del título */
        margin-bottom: 1em; /* Reducción del margen inferior */
    }

    .form_group {
        margin-bottom: 2em; /* Espacio entre grupos de campos */
    }

    .form_input {
        width: 100%;
        font-size: 1rem;
        padding: .5em;
    }

    .form_label {
        text-align: left;
        font-size: 1rem;
    }

    .form_submit {
        font-size: 1rem;
        padding: .8em 0.5em; /* Reducción del relleno */
        margin-top: 20px;
        border-radius: .5em;
        width: 100%;
    }

    /* Estilo para el contenedor de cada par de checkbox y label */
    .checkbox_label {
        margin-bottom: 1em; /* Espacio entre grupos de checkbox */
    }

    /* Estilo para los inputs de checkbox */
    .checkbox_label input {
        margin-right: 5px;
    }

    .form_antec {
        width: 100%;
        font-size: 1rem;
        padding: .5em;
    }




    /* Estilos específicos para la página */
.barramenu {
    background-color: #3ce7d4;
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 1000;
  }
  
  .barramenu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .barramenu ul li {
    margin-left: 40px;
  }
  
  .barramenu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .barramenu a:hover {
    background-color: #1c8d85;
  }
  
  .lout {
    float: left;
    display: block;
    color: #fff;
    text-align: right;
    padding: 14px 16px;
    margin-right: 40px;
    text-decoration: none;
  }
  
  .tabla {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 2em;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
  }
  
  .titulomuestralist {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  
  .col1,
  .col2,
  .col7 {
    margin-bottom: 2em;
  }
  
  .col1,
  .col2 {
    text-align: left;
    font-size: 1rem;
  }
  
  .col7 {
    font-size: 1rem;
    margin-top: 20px;
    border-radius: .5em;
    width: 100%;
  }
  

  #ttlt{
   color: #3ce7d4;
  }

  .Alta{
    background-color: #3ce7d4;
    border: black 1px solid;
    border-radius: 10px;
    height: 60px;
    width: 150px;
    margin-top: 80px;
    text-align: center;
    float: left;
    
  }
  .Alta a{
    color: #fff;
  }


  .btnLink{
    width: 90%;
  }

  .form_input::placeholder {
    text-align: center;
}

/* Estilo para las etiquetas select */
.form_group select {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
    appearance: none; /* Elimina la apariencia por defecto del navegador */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23706c6c" width="18px" height="18px"><path d="M7 10l5 5 5-5z" /></svg>'); /* Agrega una flecha personalizada */
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
    text-align: center;
}

/* Añadir un estilo cuando el select está enfocado */
.form_group select:focus {
    border-bottom: 1px solid #3ce7d4; /* Cambia el color del borde al enfocar */
}

/* Añadir un estilo cuando el select está abierto */
.form_group select:active,
.form_group select:hover {
    border-bottom: 1px solid #3ce7d4; /* Cambia el color del borde al pasar el ratón */
}
#fecha_de_nacimiento {
    text-align: center;
}





/* Estilo para centrar el texto en el campo de fecha */
.form_input[type="date"] {
    text-align: center;
}




/* Estilos para el formulario de números */
.form_numbers {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 2em;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form_numbers_title {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.form_numbers_group {
    margin-bottom: 2em;
}

.form_numbers_label {
    text-align: left;
    font-size: 1rem;
}

.form_numbers_input {
    width: 100%;
    font-size: 1rem;
    padding: .5em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    text-align: center;
}

.form_numbers_submit {
    font-size: 1rem;
    padding: .8em 0.5em;
    margin-top: 20px;
    border-radius: .5em;
    width: 100%;
    background-color: #3ce7d4;
    color: #fff;
}

/* Estilo para el contenedor de cada par de número y label */
.form_numbers_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

/* Estilo para los números */
.form_numbers_container span {
    font-size: 1rem;
    color: #3ce7d4;
}


.form_image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para centrar la tabla dentro de un div */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
}

.table {
    width: 80%; /* Ajusta el ancho de la tabla según tus necesidades */
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd; /* Añade bordes a las celdas para mejorar la visualización */
    padding: 8px;
    text-align: center;
}

/* Agrega fondo oscuro a los inputs en la segunda columna */
.table td input {
    background-color: #3ce7d4;
    color: #fff;
    border: none;
    padding: 8px;
    box-sizing: border-box;
}

/* Ajusta otros estilos según tus necesidades */
.tabla_dientes{
    margin: auto;
}


.button_files{
    background-color: #bccbc9;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100%;
    font-size: 1rem;
    padding: .8em 0;
    margin-top: 20px;
    border: none;
    border-radius: .5em;
    width: 100%;
}

.form_container {
    position: relative;
}

.form_image {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 60px;
    
    margin-top: 60px;
    width: 380px; /* Ajusta el ancho según sea necesario */
    /* Puedes ajustar otras propiedades según tus necesidades */
}
.form_image2 {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 100px;
    
    margin-top: 420px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    /* Puedes ajustar otras propiedades según tus necesidades */
}
.form_image3 {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 100px;
    
    margin-top: 320px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    /* Puedes ajustar otras propiedades según tus necesidades */
}


.hidden {
    display: none;
}


.form_label_HCP
{
    width: 100%;
    background: none;
    text-align: center;
    color: #3ce7d4 ;
    font-size: 1.5rem;    
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;

}